/* HTML DECLARATION*/
*{
    box-sizing: border-box;
}
h1{
    font-family: var(--font_family_heading);
}
/* VARIABLE DECLARATIONS */
:root{
    --Heading_font_size:10px;
    --bg_color_navbar:black;
    --bg_color_band:white;
    --bg_color_tour:var("--bg_color_navbar");
    --bg_color_contact:var("--bg_color_band");
    --bg_footer:var("--bg_color_band");
    --font_family_heading:Arial, Helvetica, sans-serif;
    --font_size_heading: 40px;
}
/* ////////////////////////////////// BODY CODES ///////////////////////////////////*/

/* NAVIGATION BAR */
.row::after{
    content: "";
    clear: both;
    display: table;
}
body{
    margin: 0;
}
div .navbar{
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2),0 0 5px 0 rgba(0, 0, 0, 0.7);
    background-color: var(--bg_color_navbar);
    width: 100%;
}

.navbar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.navbar a{
    float: left;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    color: white;
    font-family: var(--font_family_heading);
}
.navbar a:hover:not(.searchbar){
    background-color: rgba(226, 217, 217, 0.6);
}
.search{
    float: right;
}
.navbar .searchbar:hover{
    background-color:hsl(0, 100%, 55%);
}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 59px;
    margin-left: 374px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0,0.4),0 9px 19px 0px rgba(0, 0, 0,0.7);
    width: 10%;
}
.dropdown-content ul li a{
    display: inline-block;
    color: black;
    transition: 0.5s;
    padding: 20px;
    width: 100%;
    text-align: left;
}
.dropdown-content ul li a:hover{
    background-color: rgb(107, 107, 107) !important;
}
.navbar .dropdown:hover .dropdown-content{
    display: block;
}
/* DROPDOWN WITH ANOTHER ALTERNATIVE

.dropdown-content{
    display: none;
}
.navbar .dropdown:hover .dropdown-content{
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: 59px;
    margin-left: 374px;
    background-color: white;
    box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0, 0.2),0 2px 3px 2px rgba(0, 0, 0, 0, 0.5);
    box-shadow: inset;
    width: 10%;
}
.navbar .dropdown:hover .dropdown-content ul li a{
    display: inline-block;
    color: black;
    transition: 0.5s;
    padding: 20px;
    width: 100%;
    text-align: left;
}
.navbar .dropdown:hover .dropdown-content ul li a:hover{
    background-color: rgb(107, 107, 107);
}
*/

/*IMAGE*/
.bandimage{
    display: block;
    position: relative;
}
.bandimage img{
    width: 100%;
    height: auto;
}

.bandcontent{
    position: absolute;
    font-size: 30px;
    color: white;
    bottom: 30px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -10%);
}

/* THE BAND*/

.theband{
    width: 60%;
    margin: auto;
    padding: 80px 0 80px 0;
}
.thebandimage{
    display: flex;
    justify-content: center;
}
.thebandcolumn{
    float: left;
    padding: 15px;
}

.theband .content h1,.theband .content h1+p{
    text-align: center;
}
.theband .content p:last-child{
    text-align: justify;
    font-size: 20px;
}
.thebandcolumn p{
    text-align: center;
}

/* TOUR DATE */

.tour{
    background-color: var(--bg_color_navbar);
    color: white;
}
.tour .column{
    width: 60%;
    margin: auto;
}
.tour .tourheading{
    text-align: center;
    padding: 60px 0 30px 0;
}

.tour .tourdates{
    background-color: var(--bg_color_band);
    color: rgb(110, 108, 108);
    padding: 20px;
    font-size: 23px;
    margin: 4px;
}
.tour .tourdates span{
    background-color: hsl(0, 100%, 50%);
    color: white;
    padding: 0 10px 0 10px;
    margin: 0 30px 0 30px;
}
.tour .tourdates p{
    border-bottom:  1px solid rgb(122, 121, 118);
    padding: 0 0 20px 0;
}
.tourdates p .lastspan{
    background-color: var(--bg_color_navbar);
    color: var(--bg_color_band);
    border-radius: 50%;
    float: right;
}
/* BOOKING */
.tour .booking{
    display: flex;
    justify-content: center;
}
.tour .booking .kigali,.tour .booking .musanze,.tour .booking .rubavu{
    float: left;
    background-color: var(--bg_color_band);
    margin: 24px;
}
.booking div [class*="content"]{
    color: black;
    padding: 20px;
    text-align: justify;
}

.booking .button{
    background-color: var(--bg_color_navbar);
    color: white;
    padding: 20px;
    text-align: center;
    margin: 10px;
}
.rubavu::after{
    content: "";
    display: table;
    clear: both;
}
/* BUYING TICKET SECTION */
#buyticket{
    visibility: hidden;
    position: fixed;
    width: 60%;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin: auto;
    background-color: var(--bg_color_band);
}
#buyticket .tickets{
    padding: 20px;
}
#buyticket .tickets label{
    display: block;
    padding: 10px 0 10px 0;
    color: rgb(131, 128, 124);
    font-size: 20px;
}
#buyticket form input{
    padding: 15px;
    width: 100%;
}
#buyticket form input:last-child{
    margin-top: 20px;
    background-color: hsl(150, 80%, 60%);
    padding: 25px;
    border: none;
    font-size: 20px;
}

#buyticket h1{
    background-color: hsl(150, 80%, 60%);
    padding: 50px;
    text-align: center;
    width: 100%;
    margin: 0;
}

 #buyticket .tickets-header button{
    float: right;
    margin: 0;
    padding: 20px 30px;
    text-align: center;
    color: white;
    border: none;
    font-weight: bolder;
    font-size: 40px;
    background-color:  hsl(150, 80%, 60%);
 }
 #buyticket .tickets-header button:hover,#buyticket form input:last-child:hover{
    background-color: rgb(167, 158, 158);
    color: black;
 }
 #buyticket .tickets-footer{
    display: inline-block;
    width: 100%;
    padding: 20px;
 }
 #buyticket .tickets-footer button{
    position: relative;
    background-color: rgb(245, 39, 39);
    padding: 15px 30px;
    font-size: 17px;
    color: white;
    border: none;
 }
 #buyticket .tickets-footer button:hover{
    background-color: lightslategray;
    color: black;
 }
 #buyticket .tickets-footer button::after{
    position: absolute;
    content: "\00D7";
    padding: 0 3px 0 3px;
    font-weight: bolder;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(90%, -50%);
 }
 #buyticket .tickets-footer p{
    float: right;
 }

 /* CONTACT SECTION */
 .contact{
    width: 60%;
    margin: auto;
    background-color: var(--bg_color_band);
    padding: 60px 0 60px 0;
 }
 .contact-content{
    margin-top: 50px;
 }
 .contact .contact-header{
    text-align: center;
    padding: 3px;
 }

 .contact form input{
    padding: 20px 10px;

 }

 .contact .address, .contact form{
    float: left;
 }
 .contact .address{
    width: 40%;
    font-size: 20px;
    justify-content: center;
 }
 .address p a{
    text-decoration: none;
 }
 .contact form{
    width: 60%;
 }
 .contact form input[type="textarea"]{
    width: 100%;
    margin: 8px 0 8px 0;
 }
 .contact form input:not(input[type="textarea"]){
    width: 49.3%;
    right: 0;
    margin: 1px;
 }
 .contact form input[type="submit"]{
    width: 15% !important;
    float: right;
    right: 10%;
    border: none;
    background-color: var(--bg_color_navbar);
    color: white;
 }
.contact-content .address .email::before{
    content: "";
    background-image: url("Band template/IMAGES/email.jpeg");
    display: inline-block;
}
 /*KIGALI NIGHT*/
 .kigali-night img{
    width: 100%;
    height: auto;
    padding: 60px 0 60px 0;
 }

 /* FOOTER */

 .footer p{
    text-align: center;
    padding: 5px;
 }
 .footer p a{
    padding: 10px;
 }

 /*MEDIA QUERIES*/