/*BOX-SIZING DECLARATIONS*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* VARIABLE DECLARATIONS*/


/* HEADER */

.logo-header{
    position: fixed;
    display: block;
    background-color: #3366CC ;
    overflow: hidden;
    width: 100%;
    z-index: 2;
}
.logo-header .column{
    float: left;
}
.logo-header .profile{
    float: right;
    padding: 20px;
}
.logo-header .profile p{
    padding: 5px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    display: inline;
    cursor: pointer;
}
/*BODY CONTENT */

.body-content .column{
    float: left;
}
.body-content .side-nav{
    width: 20%;
    position: fixed;
    height: 900px;
    top: 75px;
    z-index: 3;
    background-color: #3366CC;
    padding: 0;
}
.side-nav ul{
    padding-top: 42px;
}
.side-nav ul li{
    list-style-type: none;
    padding: 0px;
}
.side-nav ul li a{
    display: block;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
    font-size:large;
    padding: 10px 20px;
}
.side-nav ul li a:hover{
    background-color: #4D7EB6;
    color: #333333;
}
.side-nav-bottom{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 5px;
}
.side-nav-bottom li{
    padding: 10px;
    list-style-type: none;
}
.side-nav-bottom li a{
    color: #FFFFFF;
    text-decoration: none;
}
.side-nav h2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-wrap: nowrap;
    background:   #CCCCCC;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: #444444;
    padding: 10px;
}
.moto-content h1 {
    position: absolute;
    top: 200px;
    left: 100px;
    color: white;
    font-size: 100px;
    font-family: "Playfair Display", sans-serif;
    animation: moto 1s ease-in-out 0.3s 3 forwards backwards;
}

.moto-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-content .arrivals,.body-content .moto-image{
    position: relative;
    top: 75px;
    width: 80%;
    left: 20%;
}
.body-content .moto-image{
    height: 800px;
}
.moto-image img{
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: 100% 25%;
    display: block;
}
.body-content .arrivals-content{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 10px;
    grid-template-rows: 410px;
}
.arrivals h1{
    font-family: "Playfair Display", sans-serif;
    padding: 10px;
    text-align: center;
}
.arrivals-content::after{
    content: "";
    display: table;
    clear: both;
}
.arrivals-content div{
    position: relative;
    transition: all 1.0s;
}
.arrivals-content p{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    padding: 5px 10px;
}
.arrivals-content h4,.arrivals-content h5{
    text-align: center;
    color: #FFFFFF;
}
.arrivals-content-column{
    background-color: #4D7EB6;
}
.arrivals-content-column img{
    width: 100%;
}
.arrivals-content .shopping{
    overflow: hidden;
    position: absolute;
    height: 0;
    opacity: 0;
    background-color: #3366CC;
    bottom: 14.5%;
    left: 0;
    width: 100%;
    transition: all 0.5s;
}
.arrivals-content .shopping button{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    border: none;
    font-family:"Noto Serif",sans-serif;
    background-color: hsla(216, 100%, 55%,0);
    font-weight: bolder;
    font-size: x-large;
    text-wrap: nowrap;
    padding: 5px;
}
.arrivals-content div:hover{
    opacity: 0.9;
}
.arrivals-content div:hover .shopping{
    opacity: 0.9;
    height: 20%;
}

/* /////////////////  DROP DOWN SECTION /////////////////////////*/
.shoes-category,.luggage-category,.beauty-category,.jewelry-category,.kids-category,.wedding-category,.hair-category{
    position: absolute;
    overflow: hidden;
    opacity: 0;
    left: 100%;
    width: 0;
    top: 0;
    transition: all 0.5s;
    box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.4);
    background-color: #3366CC;
}
.shopping-category h3,.shoes-category h3,.luggage-category h3,.beauty-category h3,.jewelry-category h3,.kids-category h3,.wedding-category h3, .hair-category h3{
    text-align: left;
    padding: 10px;
}
.drop-down ul:not(.shopping-drop-down):not(.shoes-drop-down):not(.luggage-drop-down):not(.beauty-drop-down):not(.jewelry-drop-down):not(.kids-drop-down):not(.wedding-drop-down):not(.hair-drop-down){
    overflow: hidden;
}
.drop-down ul li:not(.shopping-drop-down):not(.shoes-drop-down):not(.luggage-drop-down):not(.beauty-drop-down):not(.jewelry-drop-down):not(.kids-drop-down):not(.wedding-drop-down):not(.hair-drop-down){
    float: left;
}
.drop-down ul li a:not(.shopping-drop-down):not(.shoes-drop-down):not(.luggage-drop-down):not(.beauty-drop-down):not(.jewelry-drop-down):not(.kids-drop-down):not(.wedding-drop-down):not(.hair-drop-down){
    text-wrap: nowrap;
}
.shopping-drop-down:hover .shopping-category,.shoes-drop-down:hover .shoes-category,.luggage-drop-down:hover .luggage-category,.beauty-drop-down:hover .beauty-category,.jewelry-drop-down:hover .jewelry-category,.kids-drop-down:hover .kids-category,.wedding-drop-down:hover .wedding-category,.hair-drop-down:hover .hair-category{
    opacity: 1;
    width: 700px;
    height: auto;
}
.shopping-drop-down:hover::after,.shoes-drop-down:hover::after,.luggage-drop-down:hover::after,.beauty-drop-down:hover::after,.jewelry-drop-down:hover::after,.kids-drop-down:hover::after,.wedding-drop-down:hover::after,.hair-drop-down:hover::after{
    opacity: 1;
}
/*///////////// SHOPPING /////*/
.shopping-drop-down::after{
    content: '\003E';
    position:absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #333333;
    opacity: 0;
    transition: all 0.5s;
}
.shopping-drop-down{
    padding-top: 400px;
    position: relative;
}
.shopping-category{
    position: absolute;
    overflow: hidden;
    opacity: 0;
    left: 100%;
    width: 0;
    top: -100%;
    transition: all 0.5s;
    box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.4);
    background-color: #3366CC;
}
/* ////// SHOES //////*/
.shoes-drop-down::after{
    content: '\003E';
    position: absolute;
    opacity: 0;
    right: 15px;
    top: 10%;
    transform: translateY(30%);
    color: #333333;
    transition: all 0.5s;
}
/*//////  Luggage //////*/
.luggage-drop-down::after{
    content: '\003E';
    position: absolute;
    opacity: 0;
    right: 15px;
    top: 15%;
    color: #333333;
    transition: all 0.5s;
}
/* /////////Jewerly ///////////*/

.jewelry-drop-down::after{
    content: '\003E';
    position: absolute;
    opacity: 0;
    right: 15px;
    top: 19.5%;
    color: #333333;
    transition: all 0.5s;
}
/*//////////// KIDS ///////////*/

.kids-drop-down::after{
    content: '\003E';
    position: absolute;
    opacity: 0;
    right: 15px;
    top: 24.2%;
    color: #333333;
    transition: all 0.5s;
}
/*//// Beauty /////*/

.beauty-drop-down::after{
    content: '\003E';
    position: absolute;
    opacity: 0;
    right: 15px;
    top: 28.5%;
    color: #333333;
    transition: all 0.5s;
}
/* //// Wedding ///*/

.wedding-drop-down::after{
    content: '\003E';
    position: absolute;
    opacity: 0;
    right: 15px;
    top: 33.3%;
    color: #333333;
    transition: all 0.5s;
}
/*/// HAIR ///*/

.hair-drop-down::after{
    content: '\003E';
    position: absolute;
    opacity: 0;
    right: 15px;
    top: 38%;
    color: #333333;
    transition: all 0.5s;
}
/*////////////////////// PAGINATION ////////////////////////*/
.pagination ul{
    padding: 30px;
    display: flex;
    justify-content: center;
}
.pagination ul li{
    overflow: hidden;
    list-style-type: none;
    float: left;
    background-color:#4D7EB6;
}
.pagination ul li:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.pagination ul li:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.pagination ul li a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    color: white;
}
.pagination ul li a:hover{
    background-color: rgb(55, 159, 194);
}
/*//////////////////////// FOOTER //////////////////*/
.footer{
    position: absolute;
    background-color: #4D7EB6;
    width: 80%;
    left: 20%;
    z-index: 1;
    height:auto;
    top: 2250px;
}
/*////////////////////////////////// LOGIN PAGE /////////////////////////*/
#loginSection{
    visibility: hidden;
}
.login-section{
    position: fixed;
    display: flex;
    width: 30%;
    padding: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
    top: 32.1%;
    right: 15.05%;
    transform: translate(50%,-50%);
    z-index: 2;
    background-color:  #3366CC;
}
.login-section form label{
    display: block;
    padding: 5px 0;
}
.login-section form input{
    padding: 10px;
    width: 250px;
    border: 1px solid  rgb(55, 159, 194);
}
.login-section form input[type="submit"]{
    padding: 10px;
    width: 100px;
    margin-top: 5px;
}
.login-section h4{
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
}
/*///////////////////////  SIGN UP SECTION ////////////////////*/
#signUpAccount{
    visibility: hidden;
}
.sign-up{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 52.9%;
    right: 15.05%;
    transform: translate(50%,-50%);
    border: 1px solid white;
    width: 30%;
    color: white;
    background-color:  #3366CC;
}
.sign-up form {
    padding: 20px;
}
.sign-up form label{
    display: block;
    padding: 5px 0;
}
.sign-up form input:not(input[type="submit"]){
    padding: 10px;
    width: 300px;
    border: 1px solid  rgb(55, 159, 194);
}
.sign-up form #country{
    border: 1px solid  rgb(55, 159, 194);
}
.sign-up form #country option:active{
    border: 1px solid  rgb(55, 159, 194);
}
#country{
    padding: 5px;
}
.sign-up input[type="submit"]{
    display: block;
    margin-top: 10px;
    padding: 5px 20px;
    right:5px;
    bottom: 5px;
    border: 1px solid white;
    border-radius: 10px;
    transform: translateX(100px);
    background-color: aquamarine;
}
/*//////////////// HOME SECTION LOGIN PAGE ////////////////*/

.login-page .header{
    padding: 40px;
}
.login-page .header a{
    color: white;
    text-decoration: none;
    padding: 20px;
    background-color: lightgreen;
    text-align: center;
} 